#main-header {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
    width: 540px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}
.main-text {
    font-family: Arial, Helvetica, sans-serif;
    width: 540px;
    margin: auto;
}
.card{
    width: 560px;
    margin: auto;
    padding: 20px;
    margin-top: 70px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;

}
.card .card-button{
    width: 100px;
    margin: 10px 0px 10px 10px ;
    background-color: #1CB94E;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    
}
.card-button:hover{
    background-color: rgb(189, 189, 189);
    color: #000;
}

.input-card{
    width: 90%;
    margin: 10px 0px 5px 10px ;
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
}
.input-card:focus{
    outline: none; 
    box-shadow: 0 0 0 3px rgb(102, 160, 248);
}

/* .input-card:not(:focus){
    outline: none; 
    box-shadow: 0 0 0 3px rgb(224, 90, 56);
    
} */

.input-email{
    margin: 0px 0px 0px 10px;
    color: red;
}
/* .input-card:invalid{
    border-color: red;
} */

